<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Мой блог {% endblock %}</title>
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'post:post_list' %}">Мой блог</a>
        </h1>
        <nav>
            <a href="/admin" target="_blank">Админка</a>
        </nav>
    </header>

    <main>
        {% if messages %}
            <div>
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </main>
    <footer>
        <div> &copy; 2026 Мой блог</div>
    </footer>
</body>
</html>