{% extends 'post/base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div>
        <div>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}">
            {% else %}
                <div>😉</div>
            {% endif %}
        </div>
        <h1>{{ user.username }}</h1>
        <p>{{ user.email }}</p>
        {% if profile.is_moderator %}
            <div>Модератор</div>
        {% endif %}
        <div>
            {% if profile.bio %}
                <div>{{ profile.bio }}</div>
            {% else %}
                <p>Расскажите о себе</p>
            {% endif %}
        </div>
        <div>
            <div>{{ user.posts.count }} постов</div>
            <div>{{ user.comments.count }} комментариев</div>
        </div>
        <a href="{% url 'userProfile:profile_edit' %}">
            Редактировать профиль
        </a>
    </div>
{% endblock %}