{% extends 'post/base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <a href="{% url 'userProfile:profile' %}">
        Назад к профилю
    </a>
    <div>
        <h1>Редактирование профиля</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Данные профиля</h3>
            {{ u_form }}
            <h3>Информация о себе</h3>
            {{ p_form }}
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}